/* RESEt  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
html {
    font-family: 'Rubik Mono One', sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}


/* NAV */
/* Piazziamo il nav in posizione fixed e con z-index alto per posizionarlo sempre sopra a tutto */
nav {
    position: fixed;
    top: 2em;
    right: 2em;
    z-index: 50;
}

/* Stilizziamo i list items del nav come dei cerchi, con le regole per piazzare il testo centrato */
nav li {
    display: inline-block;
    margin: 0 1em;
    background-color: white;
    color: black;
    line-height: 3em;
    text-align: center;
    border-radius: 50%;
}

/* stilizzazione del testo del nav */
nav a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    width: 3em;
    height: 3em;
}

/* dimensioniamo ciascuna sezione con l'altezza fissa di 100vh */
/* gli diamo position relative così da poter piazzare il contenuto al suo interno
con position absolute */
.shoe {
    height: 100vh;
    position: relative;
}

/* 
dentro ogni sezione c'è un div contenitore con l'immagine e una didascalia.
stilizziamo questo div per occupare il 40% di larghezza del padre,
usiamo il trucchetto del transform per centrare il div
e mettiamo una dimensione al testo al suo interno e un line height per accorciare l'interlinea */

.shoe .content {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 2.5em;
    line-height: 1.5em;
}

/* diamo alle immagini delle scarpe un display block per evitare spaziature indesiderate */
.shoe img {
    display: block;
}


/* stilizzazione dei colori dei singoli div  */

#s1 {
    background-color: red;
    color: yellow;
}

#s2 {
    background-color: green;
    color: yellow;
}

#s3 {
    background-color: yellow;
    color: green;
}
